<div [ngClass]="[color, size]">
    <div class="p-2 relative" (click)="toggleMenu()">
        @if(!isMenuOpen) {
            <img src="../../../../assets/icons/burger-menu.svg" 
            class="burger-icon inset-0">
        } @else {
            <img src="../../../../assets/icons/close.svg" 
            class="burger-icon inset-0">
        }
    </div>

    <!-- Dropdown menu -->
     @if(isMenuOpen) {
        <div class="menu-panel">
            @for(menuItem of menuItemsList; track menuItem) {
                @if(menuItem.type === 'dropdown') {
                    <div class="menu-button">
                        <button class="menu-options"
                        (click)="toggleSubMenu(menuItem.label)">{{menuItem.label | transloco}}</button>
                        @if(activeDropdownOption === menuItem.label) {
                            <div class="menu-sub-options">
                                @for(menuSubItem of menuItem.children; track menuSubItem) {
                                    <button class=""
                                    (click)="menuSubItem.action?.(); toggleMenu()">{{menuSubItem.label | transloco}}</button>
                                }
                            </div>
                        }
                    </div>
                } 
                @if (menuItem.type !== 'dropdown'){
                    <button class="menu-button"
                    (click)="menuItem.action?.(); toggleMenu()">{{menuItem.label | transloco}}</button>
                }
            }
        </div>

     }
</div>