<div class="header-container bg-baseRCBlueNinth lg:h-[80px] flex justify-between">
    <div class="logo-container w-[200px] h-[50px] flex flex-col justify-start px-4 py-2 cursor-pointer mt-2" (click)="goToHomeLanding()">
        <p class="rincon-text text-baseRCBlueFirst text-2xl font-bold leading-none m-0">{{"logo.rincon" | transloco }}</p>
        <p class="crim-text text-baseRCBlueFirst text-2xl leading-none m-0">{{"logo.criminologico" | transloco }}</p>
      </div>
    <div class="action-buttons w-[550px] flex justify-between text-lg pr-4 mt-4">
        <app-button [text]="'header.contact'" [color]="'primary'" [size]="'medium'"></app-button>
        <app-button [text]="'header.about_me'" [color]="'primary'" [size]="'medium'"></app-button>
        <app-dropdown 
        [optionsList]="languageOptions" 
        [color]="'primary'" 
        [size]="'medium'"
        [selectedOption]="selectedLangOption"
        [isDisabledSelectedHidden]="true"
        [disabledSelectedHiddenText]="'header.language'"
        (selectionChange)="getTranslation($event)">
        </app-dropdown>
        <app-button [text]="'header.log_in'" [color]="'primary'" [size]="'medium'"></app-button>
    </div>
</div>