<button id="disabledButton" class="w-28 h-8 rounded-lg border border-colorDisabledBorder text-colorDisabledText text-xs bg-colorDisabledBg">{{"hello-world" | transloco}}</button>
<div id="successContainer" class="m-2 pt-2 w-56 h-8 flex justify-center content-center rounded-lg border border-colorSuccessBorder text-colorSuccessTextCont text-xs bg-colorSuccessBg">La acción se ha realizado correctamente</div>
<p id="successMsg" class="m-2 text-xs text-colorSuccessText">Mensaje de éxito</p>
<div id="errorContainer" class="m-2 pt-2 w-56 h-8 flex justify-center content-center rounded-lg border border-colorErrorBorder text-colorErrorTextCont text-xs bg-colorErrorBg">Ha habido un error en la acción</div>
<p id="errorMsg" class="m-2 text-xs text-colorErrorText">Mensaje de error</p>
<div id="warningContainer" class="m-2 pt-2 w-56 h-8 flex justify-center content-center rounded-lg border border-colorWarningBorder text-colorWarningTextCont text-xs bg-colorWarningBg">Aviso en la acción realizada</div>
<p id="warningMsg" class="m-2 text-xs text-colorWarningText">Mensaje de aviso</p>