.red-title {
    font-family: 'Merriweather';
    font-size: 18px;
    color: #8c2538;
    font-weight: bold;
}

.blue-content {
    font-family: 'Livvic Regular';
    font-size: 12px;
    color: #224558;
}
