.blue-content {
    font-family: 'Livvic Regular';
    font-size: 0.75rem;
    color: #224558;
}

.red-title {
    font-family: 'Merriweather';
    color: #8c2538;
    font-weight: bold;
}

.line-content {
    border-color: #224558;
    width: 100%;
}
